.favouriteListError {
    text-align: center;
}

.favouriteList__unfollowBtn {
    background-color: #7d3f6d;
    border-radius: 10px;
    border-color: 1px gray;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin: 0;
}