.login{
    text-align: center;
    margin: 1em auto;
    width: 300px;
}

.login_field{
    margin: 1em;
    display:block;
    display: flex;
}

.login_input{
    border-radius: 4px;
    flex: 1;
    margin-left: 5px;
}

.login_button{
    background-color: #7d3f6d;
    border-radius: 10px;
    border-color: 1px gray;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 90%;
}
