.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, 14em);
    grid-gap: .5em;
    padding: 0;
    margin: 20px;
    list-style: none;
    justify-content: center;
}
.showcase__item {
    border: solid 1px lightgray;
    border-radius: 2px;
    padding: 1em;
}
