.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, 12em);
    grid-gap: .5em;
    padding: 10px;
    margin: 0;
    height: 100%;
    list-style: none;
    justify-content: center;
}
.showcase__item {
    border-radius: 3%;
    padding: 1em;
    text-decoration: none;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
}

a {
    text-decoration: none;
}
